@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: rgba(4, 39, 4, 0.219);
}

/* NAV-BAR */
.nav-color {
  background-color: rgb(73, 119, 90);
}

.img-logo {
  width: 90px;
  height: auto;
}

/* HOME */
#main-home {
  padding-left: 0;
}
.background-carousel {
  background-color: rgba(4, 39, 4, 0.219);
}

.img-carousel {
  max-height: 800px;
  /* margin-right: auto;
  margin-left: auto; */
}

.informacao-home {
  text-align: justify;
  padding: 0.5em;
  width: 90vw;
  margin: 2em auto;
  border-radius: 2px;
  background: linear-gradient(to bottom right, rgb(1, 65, 6), rgb(32, 116, 29));
  color: #fff;
}

.informacao-home-video {
  text-align: center;
}

.format-video {
  width: 80vw;
  height: 560px;
}

/* CARDS GALERIA */
.card {
  margin-bottom: 1em;
  margin-top: 2em;
  margin-right: 1em;
  margin-left: 1em;
  padding: 0;
  background-color: rgba(4, 39, 4, 0.219);
}

li {
  list-style: none;
}

.card-header {
  background-color: rgba(4, 39, 4, 0.219);
  text-align: center;
}

.card-img {
  /* width: 180px;
    height: 240px; */
  height: 16vw;
  margin: auto;
  border-radius: 5px;
}

.card-modal {
  border: 1px solid rgba(0, 0, 0, 0.671);
}

.card-header-modal {
  background-color: white;
  padding: 1px;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* FOOTER */
.footer-display {
  text-align: center;
  bottom: 0;
  position: fixed;
}

.texto-footer {
  margin: 0;
  color: rgba(255, 255, 255, 0.356);
}
