@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100&display=swap');

/* Geral */
* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background-color: rgb(233, 233, 233);
}

/* Header */
header {
    border-bottom: 2px solid #111;
    width: 100vw;
    height: 100px;
    padding: 0.5em;
    background-color: brown;
}

figure {
    display: inline-flex;
    line-height: 100px;
}

figure a {
    height: 100px;
    display: inline-flex;
    line-height: 100px;
}

header figure {
    color: #000;
}

header figure a img {
    border-radius: 50px;
}

header figure figcaption {
    margin-left: 1em;
    font-size: 14px;
}

/* Main */
.wrapper {
    display: block;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
}

main {
    display: block;
    border: 2px solid #000;
    border-radius: 2px;
    box-shadow: 2px 2px 6px black;
    background-color: white;
}

main figure img {
    margin-left: 5px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 50px;
}

h3.titulo-texto {
    padding: .3em;
}

div.conteudo {
    border-top: 2px solid black;
    padding: .5em;
    text-align: justify;
}

div.conteudo p {
    margin-top: 0.2em;
    text-indent: 1.5em;
}

h3.conteudo {
    margin-top: .3em;
    margin-bottom: .3em;
    margin-left: 0.5em;
}