@{
    ViewData["Title"] = "Cadastro";
}
<h1>@ViewData["Title"]</h1>

<fieldset>
    <legend>Cadastre-se no sistema</legend>
    <div class="row">
        <div class="form-group">
            <label>Nome</label>
            <input type="text" name="Nome" placeholder="Digite seu Nome" id="nome" class="form-control"/>
        </div>
    </div>
</fieldset>