
@{
    ViewData["Title"] = "Contato";
}

<div class="text-center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56914.9599758053!2d-49.15661403266552!3d-26.92934904541481!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94df1cbdd7faa7db%3A0xde84913b0f0eac0!2sRio%20Encano!5e0!3m2!1spt-BR!2sbr!4v1669411945249!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <table>
        <tr>
            <td>E-mail:</td>
            <td>gustavosoares@gmail.com.br</td>
        </tr>
        <tr>
            <td>Telefone:</td>
            <td>6660-6660</td>
        </tr>
    </table>
</div>