@{
    ViewData["Title"] = "Home";
}

    <section>
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/img/carrosel1.jpg" class="d-block w-100" alt="Foto 1">
                </div>
                <div class="carousel-item">
                    <img src="~/img/carrosel2.jpg" class="d-block w-100" alt="Foto 2">
                </div>
                <div class="carousel-item">
                    <img src="~/img/carrosel3.jpg" class="d-block w-100" alt="Foto 3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div id="informacao" class="text-center">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, porro
                aliquam. Aliquam dolorem repellendus, nulla debitis ut consequuntur ea
                voluptates laborum consequatur ad quaerat animi eos modi quos enim nobis.
                Dolores neque ipsa voluptates, cumque, numquam ratione praesentium
                doloribus nemo quae nulla amet cum quasi fuga earum aliquam veniam atque
                rem itaque omnis. Eos explicabo, tempore expedita dolore repellat
                accusantium. Recusandae, soluta. Eligendi, ipsum vitae quasi labore ipsam
                doloremque a itaque deserunt perferendis tempore? Minima, commodi
                temporibus explicabo ut autem sapiente mollitia pariatur veritatis porro
                molestias nesciunt iusto maiores laboriosam. Pariatur consequatur quaerat
                autem minus veritatis quibusdam atque exercitationem quam, dolor beatae
                optio, nihil nostrum praesentium eligendi voluptas tempora eveniet eius,
                eos possimus illum soluta expedita sunt assumenda. Veniam, aut? Reiciendis
                rem modi voluptate esse impedit perferendis officia aliquid praesentium,
                in ad dolor consequuntur temporibus repellat pariatur tempora! Laudantium
                magni a sunt molestias itaque sapiente asperiores repellendus blanditiis
                maiores culpa!
            </p>
        </div>
    </section>