@{
    ViewData["Title"] = "Principais Notícias";
}

<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner" style="height: 25em; background-color:lightgrey;">
            <div class="carousel-item h-100 active" style="background-image: url(img/elon-musk.jpeg); background-size: contain; background-repeat:no-repeat; background-position:center;">
                <!-- <img src="~/img/elon-musk.jpeg" class="d-block w-100" alt="Foto de Elon Musk"> -->
            </div>
            <div class="carousel-item h-100" style="background-image: url(img/blizzard.jpg); background-size: contain; background-repeat:no-repeat; background-position:center;">
                <!-- <img src="~/img/blizzard.jpg" class="d-block w-100" alt="Blizzard Logo"> -->
            </div>
            <div class="carousel-item h-100" style="background-image: url(img/bolsonazistas.jpg); background-size: contain; background-repeat:no-repeat; background-position:center;">
                <!-- <img src="~/img/bolsonazistas.jpg" class="d-block w-100 mh-100" alt="Bolsonaristas"> -->
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>
