@{
    ViewData["Title"] = "Galeria";
}

<div class="text-center card-group">
    <div class="card">
     <img src="~/img/galeria/abeto.jfif" class="card-img-top" alt="Abeto">
         <div class="card-body">
            <p class="card-text">Abeto</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         </div>
    </div>

    <div class="card">
     <img src="~/img/galeria/Baobab.jpg" class="card-img-top" alt="Baobá">
        <div class="card-body">
             <p class="card-text">Baobá</p>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         </div>
    </div>

    <div class="card">
     <img src="~/img/galeria/abeto.jfif" class="card-img-top" alt="Abeto">
        <div class="card-body">
             <p class="card-text">Abeto</p>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card">
     <img src="~/img/galeria/Baobab.jpg" class="card-img-top" alt="Baobá">
        <div class="card-body">
            <p class="card-text">Baobá</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card">
        <img src="~/img/galeria/abeto.jfif" class="card-img-top" alt="Abeto">
        <div class="card-body">
            <p class="card-text">Abeto</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card">
        <img src="~/img/galeria/Baobab.jpg" class="card-img-top" alt="Baobá">
        <div class="card-body">
            <p class="card-text">Baobá</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card">
        <img src="~/img/galeria/abeto.jfif" class="card-img-top" alt="Abeto">
        <div class="card-body">
            <p class="card-text">Abeto</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card">
        <img src="~/img/galeria/Baobab.jpg" class="card-img-top" alt="Baobá">
        <div class="card-body">
            <p class="card-text">Baobá</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>