@model ProjetoSaude.Domain.DTO.ProntuarioDTO
<h1>Edit</h1>

<h4>Prontuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="dataAbertura" class="control-label"></label>
                <input asp-for="dataAbertura" class="form-control" value="@Model.dataAbertura"/>
                <span asp-validation-for="dataAbertura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pacienteId" class="control-label"></label>
                <input asp-for="pacienteId" class="form-control" value="@Model.pacienteId" />
                <span asp-validation-for="pacienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }